.container{
    width: 18%;
    margin: 10px auto;
    padding: 30px;
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #eee;
}
.title{
    margin:  0 auto;
    width: 37%;
}
.btn{
    width: 80px;
    margin: 0 auto;
}
.q{
    outline: none;
    border: 1px solid rgb(136, 123, 123);
    background-color: rgb(126, 107, 74) ;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.my-input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(107, 104, 104);   
    background-color: #eee;
}
.form-block{
    margin: 10px auto;
}
body{
    background-color: #ee2;
}
